.body {
    height: 1000px;
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgb(228, 239, 248);
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 10%; */
}

.personal_page {
    display: flex;
    flex-shrink: 1;
    width: 28%;
    height: 30%;
    background-image: url(../../images/logo.png);
    margin-top: 1%;
    /* margin-left: 50px; */
    /* margin-left: 1%;

          */
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-top: 10%;
    flex-shrink: 1;
}

.text {
    font-size: large;
    color: rgb(24, 18, 19);
    margin-top: 1%;
    margin-left: 2%;
    text-align: center;
}

table {
    display: flex;
    flex-shrink: 1;
    margin-top: 7%;
    margin-left: 10%;
}

.page {
    margin-left: 40%;
    margin-top: 20%;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    width: 40%;
    height: 95%;
    background-image: url(../../images/logo.png);
    margin-left: 1%;
    margin-top: 1%;
}

.dongtai1 {
    width: 525px;
    height: 200px;
    background-color: white;
    margin-top: 5%;
    margin-left: 3%;
}

.right_board {
    display: flex;
    flex-shrink: 1;
    width: 28%;
    height: 60%;
    background-image: url(../../images/logo.png);
    /* margin-right: 1%; */
    margin-left: 1%;
    margin-top: 1%;
}

.gonggao {
    width: 400px;
    height: 300px;
    background-color: white;
    margin-top: 5%;
    margin-left: 3%;
}