.catalog {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row;
  /* justify-content: space-around; */
  width: 1255x;
  height: 50px;
}

.catalog_round {
  margin-left: 0px;
  width: 220px;
}

.catalog_round ul {
  width: 220px;
  float: left;
  margin-left: 0px;
}

.catalog_round ul li {
  float: left;
}

.catalog_round ul li a {
  display: block;
  padding: 0 6px;
  font: 15px "Microsoft yahei";
  color: rgb(63, 0, 0);
}

.catalog_detail {
  margin-left: -80px;
  width: 800px;
  float: left;
  margin-top: 0;
}

.catalog_detail ul {
  width: 800px;
  margin-left: 0;
}

.catalog_detail ul li {
  float: left;
  margin-left: 20px;
}

.catalog_detail ul li a {
  display: block;
  /* padding: 5px 6px; */
  font: 6px "Microsoft yahei";
  color: rgb(107, 1, 1);
}

.catalog_plus {
  width: 250px;
  float: left;
  margin-left: -50px;
}

.catalog_plus ul {
  width: 250px;
  margin-top: 1px;
}

.catalog_plus ul li {
  float: left;
  margin-left: 10px;
}

.catalog_plus ul li a {
  display: block;
  padding: 5px 6px;
  font: 12px "Microsoft yahei";
  color: rgb(107, 1, 1);
}

.catalog_detail ul li a span {
  font-size: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 101, 139);
  border-radius: 6px;
}