.nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 3px;
    margin-top: 9px;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    padding: 0 6px;
    font: 20px "Microsoft yahei";
    color: rgb(255, 255, 255);
}