.personal_center {
  float: left;
  margin-left: 33px;
  margin-top: 9px;
}

.personal_center ul li {
  float: left;
  border-radius: 20px;
}

.personal_center ul li a {
  display: block;
  padding: 0 6px;
  font: 15px "Microsoft yahei";
  color: rgb(255, 255, 255);
}

.contribute {
  width: 50px;
  height: 25px;
  background-color: rgb(255, 125, 147);
}