.search {
  float: left;
  height: 20px;
  width: 210px;
  background-color: tomato;
  margin-top: 23px;
  margin-left: 0px;
}

.search input {
  float: left;
  width: 160px;
  height: 20px;
  border: 1px;
  border-color: rgb(250, 114, 90);
}

.search button {
  width: 45px;
  height: 20px;
  float: left;
  background-color: rgb(252, 137, 117);
  border: 0;
}

.search button p {
  float: top left;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font: 1px;
  color: rgb(248, 205, 205);
  margin-top: 2px;
}