.footer_backgroud {
    height: 100px;
    background-color: rgb(241, 241, 241);
    background-position: center bottom;
}
.bilibili ul li {
    width: 20px;
    height: 10px;
}
.chuansongmen ul li {
    width: 20px;
    height: 10px;
}

.bottom_decoration {
    background-color:rgb(252, 253, 241) ;
}