.personal_center {
    float: right;
    margin-right: 3px;
    margin-top: 5px;
}

.personal_center ul li {
    float: left;
}

.personal_center ul li a {
    display: block;
    padding: 0 6px;
    font: 15px "Microsoft yahei";
    color: rgb(255, 255, 255);
}
